.loading-data {
  color: white;
  padding: 12px 20px;
  border: none;
  box-shadow: 2px 2px 2px #fff;
  font-size: 2rem;
}

.search-button {
  color: white;
  background: #339900;
  padding: 12px 20px;
  border: none;
  box-shadow: 2px 2px 2px #333;
  font-size: 1rem;
  text-transform: uppercase;
}